{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Login</h2>
        </div>

        <div class="panel-body">
            {% if error %}
                <div class="alert alert-danger alert-error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('fos_user_security_check') }}" method="post" class="form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>

                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" class="form-control" id="password" name="_password" required="required" />
                </div>

                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-primary" role="button">Forgot password?</a>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}
