{% extends 'base.html.twig' %}

{% block main %}
    <h2>Post</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if post.visible %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ post.rating }}</td>
            </tr>
            <tr>
                <th>Publishedat</th>
                <td>{% if post.publishedAt %}{{ post.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <a href="{{ path('post_index') }}" class="btn btn-primary">Back to the list</a>
    <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-primary">Edit</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
